@model NoteVm
@{
}
<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="Message">Leave a note</label>
                <input asp-for="Message" class="form-control" placeholder="Write your note here...">
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Edit" />
    </form>
</div>