@{
    ViewData["Title"] = "Mental Depths";
}
<style>
    .div-bgr-img{
        background-image: url();
        height: 685px;
        max-width: 100%;
    }
</style>
<div class="div-bgr-img">
    
</div>
